<form class="profile-search-form" [formGroup]="searchForm">
    <label class="ozi-form-label">
        <span class="ozi-form-label__text">Name of the user</span>
            <input type="text" class="ozi-form-input" formControlName="firstName"/>
    </label>
    <label class="ozi-form-label">
        <span class="ozi-form-label__text">Surname of the user</span>
            <input type="text" class="ozi-form-input" formControlName="lastName"/>    
    </label>
    <label class="ozi-form-label">
        <span class="ozi-form-label__text">Skills</span>
        <input type="text" class="ozi-form-input" formControlName="stack"/>
    </label>
</form>