:host{
    display: flex;
    padding: 1.75rem;
    background: rgba(255, 235, 205, 0.15);
}

.post-user-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.post-body{
    display: grid;
    grid-gap: 12px;
}

.post-header{
    color: var(--primary-dark-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}