:host{
    display: grid;
    grid-gap: 16px;
    padding: 1rem;

    background: rgba(255, 235, 205, 0.15);
    border: 1px solid var(--light-color);
}


.username {
    display: flex;
    flex-wrap: wrap;
}

.name{
    color: var(--primary-color);
    font-size: 12px;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.post-body{
    display: grid;
    word-break: break-all;
    white-space: pre-line;
    
}

.comment-amount{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post-header{
    color: var(--primary-dark-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.comments-length{
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
}