@if(post(); as post){
  <div class="post-header">
    <app-avatar-circle class="size32" [avatarUrl]="post.author.avatarUrl"></app-avatar-circle>
    <div class="author">
        <div class="username">
          <p>
            {{ post.author.firstName}}
          </p>
          <p>
            {{post.author.lastName}} 
          </p>
         </div>
        <p class="name">&commat;{{ post.author.username }}</p>
    </div>
    
</div>
<div class="post-body">
  {{ post.content}}
</div>
<div class="post-counters">
  <span class="comment-amount">
    <i class="pi pi-comment" style="font-size: 1rem"></i>
    <span class="comments-length">{{post.comments.length}}</span>
  </span>
</div>
<div class="post__comments-wraper">
  @for(comment of post.comments; track comment.id){
    <app-comment
      [comment]="comment"
    ></app-comment>
  }
</div>
<div class="post-footer">
  Created: {{post.createdAt | date: 'HH:mm dd.MM.YY'}}
</div>

<app-post-input [postId]="post.id" [isCommentInput]=true>
</app-post-input>


}



<!-- "id": 0,
    "title": "string",
    "content": "",
    "author": {
      "id": 0,
      "username": "string",
      "avatarUrl": "string",
      "subscribersAmount": 0,
      "firstName": "",
      "lastName": "",
      "isActive": true,
      "stack": [],
      "city": "",
      "description": ""
    },
    "images": [
      "string"
    ],
    "createdAt": "2024-08-14T21:11:25.087Z",
    "updatedAt": "2024-08-14T21:11:25.087Z",
    "comments": [] -->