<div class="post">
    <div class="post-header">
        <img src="/assets/images/avatar-placeholder.png" alt="Avatar placeholder" class="post-user-img" />
        <div class="author">
            <div class="username">User Name</div>
            <p class="name">username</p>
        </div>
        
    </div>
   <div></div>
</div>


<!-- "id": 0,
    "title": "string",
    "content": "",
    "author": {
      "id": 0,
      "username": "string",
      "avatarUrl": "string",
      "subscribersAmount": 0,
      "firstName": "",
      "lastName": "",
      "isActive": true,
      "stack": [],
      "city": "",
      "description": ""
    },
    "images": [
      "string"
    ],
    "createdAt": "2024-08-14T21:11:25.087Z",
    "updatedAt": "2024-08-14T21:11:25.087Z",
    "comments": [] -->