.profile-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    padding: 32px 24px;

    border: 1px solid var(--light-color);
}

.avatar-name{
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-gap: 20px;
}

.profile-card__avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}