:host{
    display: block;
    padding: 20px 12px;
    position: relative;
    background: var(--dark-color);
}

.main-menu-list{
    display: grid;
    grid-gap: 8px;
    list-style: none;

}

.menu-item{
    width: 100%;

    padding: 16px 12px;

    display: grid;
    grid-template-columns: 16px 1fr max-content;
    grid-gap: 12px;
    align-items: center;

    cursor: pointer;
    border: none;
    border-radius: 2px;
    background: none;
    color: var(--light-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    text-align: left;

    &:hover, :focus, :focus-visible{
        background: var(--dark-hover-color);
        color: var(--primary-color);

        .menu-item svg{
            color: var(--primary-color);
        }
    }
}

.menu-item svg{
    width: 16px;
    height: 16px;
}

.to-subscribers{
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.to-subscribers-link{
    color: var(--primary-color);
    text-decoration: none;
}

.to-subscribers-icon{
    width: 18px;
    height: 18px;

    color: var(--primary-color);
}


.sidebar__footer{
    position: absolute;
    bottom: 20px;
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 32px 1fr 16px;
    grid-gap: 12px;
    align-items: center;

    padding: 4px 16px;

    background: var(--dark-hover-color);
    border-radius: 2px;

    img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }

    .username-text{
        font-weight: 700;
        color: var(--primary-color);
    }
}

.settings-btn{
    svg{
        width: 14px;
        height: 14px;
    }
}