<img src="/assets/svg/logo-small.svg" 
alt="logo"
class="ml16 mb20"
/>

<nav class="mb20">
    <ul class="main-menu-list">
        @for(menuItem of menuItems; track menuItem.icon){
            <li>
                <a class="menu-item" [routerLink]="[menuItem.link]">
                    <svg [icon]="menuItem.icon"></svg>
                    <span>{{ menuItem.label }}</span>
                </a>
            </li>
        }
    </ul>
</nav>
<div class="mb20">
    <p class="medium-text mb20">Subscribers</p>
    @for(profile of subscribers$ | async; track profile.id){
        <app-subscriber-card
        [profile]="profile"
        ></app-subscriber-card>
    }
</div>

<div class="mt20 to-subscribers">
    <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link"
    >All subscribers</a>
    <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>

<footer class="sidebar__footer">
    @if(me(); as me){
        @if(me.avatarUrl){
            <img [src]="me.avatarUrl | imgUrl" alt=""/>
        } @else {
            <img src="/assets/images/avatar-placeholder.png" alt=""/>
        }
        <div class="medium-text username-text">{{me.username}}</div>
        <a [routerLink]="['settings']" class="settings-btn">
            <svg icon="settings"></svg>
        </a>
    }
</footer>
