:host {
  display: grid;
  padding: 1rem;
  grid-template-columns: 32px 1fr 44px;
  grid-gap: 12px;

  align-items: center;

  border: 2px solid var(--primary-dark-color);
  border-radius: 4px;

  background: var(--light-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-light-color);
    outline-offset: 2px;
  }
}

:host.comment {
  border: 1px dashed var(--primary-dark-color);
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.post-textarea {
  resize: none;

  padding-top: 0.5rem;

  border: none;
  border-radius: 4px;

  font-family: 'JetBrains Mono';
  font-weight: 500;

  background: var(--light-color);
  color: var(--dark-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-light-color);
  }
}

.post__comments-wrapper {
  display: grid;
  grid-gap: 8px;
  padding: 8px 0;

  max-height: 150px;
  overflow-y: scroll;
}

.text-wrapper {
  display: flex;
}
