:host {
  display: grid;
  grid-template-columns: 2rem 1fr;
  grid-gap: 0.75rem;
}

:host.is-mine {
  grid-template-columns: min-content 32px;
  justify-self: end;

  .message-container {
    order: -1;
  }
}

.message-text {
  width: min-content;
  padding: 8px 16px;

  background: var(--message-color);
  font-weight: 500;
  color: var(--light-color);

  mask:
    linear-gradient(#000 0 0),
    linear-gradient(-135deg, #000 50%, #0000 0) border-box 100% 100% / 200% 200%
      no-repeat;
  mask-composite: exclude;
  mask-position: 10% 94%;
}
