@if(profile$ | async; as profile){
    <header class="profile-page__header">
        <app-profile-header  [profile]="profile">
        </app-profile-header>
        @if(isMyPage()){
            <a class="btn to-setting-btn" [routerLink]="['/settings']">
                Edit
                <svg icon="settings" class="to-setting-icon"></svg>
            </a>
        }@else {
            <button class="btn to-setting-btn" (click)="sendMessage(profile.id)">
                Send message
            </button>
        }
    </header>
    <main class="profile-page__body">
        <app-post-feed></app-post-feed>
        <div>
            <h3 class="h6 mb16">Subscribers</h3>
            <div class="subscribers-wrapper mb32">
                @for(subscriber of subscribers$ | async; track subscriber.id){
                    <a class="subscriber-avatar-btn" [routerLink]="['/profile', subscriber.id]">
                        <img [src]="subscriber.avatarUrl | imgUrl" [alt]="subscriber.lastName"/>
                    </a>
                }
                <a class="to-subscribers-search" [routerLink]="['/search']">
                </a>
            </div>
            <h3 class="h6 mb16">Skills</h3>
            <div class="stack-wrapper mb32">
                @for(skill of profile.stack; track skill){
                    <div class="skill-tag">{{ skill }}</div>
                }
            </div>
            <h3 class="h6 mb16">About me</h3>
            <p class="medium-text">{{ profile.description }}</p>
        </div>
    </main>
}

