@font-face {
  display: swap;
  font-family: 'JetBrains Mono';
  font-size: normal;
  font-weight: 400;
  src: url('/assets/fonts/JetBrainsMono-Thin.woff2') format('woff2');
}

@font-face {
  display: swap;
  font-family: 'Helvetica';
  font-size: normal;
  font-weight: 400;
  src: url('/assets/fonts/HelveticaThin.woff2') format('woff2');
}

@font-face {
  display: swap;
  font-family: 'JetBrains Mono';
  font-size: normal;
  font-weight: 500;
  src: url('/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2');
}

@font-face {
  display: swap;
  font-family: 'JetBrains Mono';
  font-size: normal;
  font-weight: 700;
  src: url('/assets/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
}

@font-face {
  display: swap;
  font-family: 'JetBrains Mono';
  font-size: normal;
  font-weight: 800;
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2');
}
