@import 'fonts';
@import 'margins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "primeicons/primeicons.css";


:root {
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --primary-light-color: #d0b3ff;
  --primary-dark-color: #9a71dc;
  --grey-color: #5f646d;
  --dark-hover-color: #161616;

  --light-transparent-color: rgba(255,255,255,0.75);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;

  font-family: 'JetBrains Mono', 'sans-serif';
  font-weight: 500;
  color: var(--light-color);

  background: var(--dark-color);
  background-image: url('/assets/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-bottom: 1rem;

  font-family: 'Inter';
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: left;
}

h4{
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
}

.ozi-control-label {
  display: block;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  line-height: 16px;
}

.ozi-input {
  display: block;
  width: 100%;

  padding: 12px 20px;
  margin-top: 8px;
  
  border: 2px solid var(--primary-dark-color);
  border-radius: 4px;
  
  background: var(--light-color);
  color: var(--dark-color);
  font-weight: 500;
  font-family: 'JetBrains Mono', 'sans-serif';
  font-size: 14px;
  line-height: 20px;

  &:focus-visible{
    outline: 1px solid var(--primary-light-color);
    outline-offset: 2px;
  }
}

.ozi-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ozi-form-label__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: var(--light-transparent-color);
}

.ozi-form-input {
  color: var(--light-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  background: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;

  &:focus-visible{
    outline: 1px solid var(--primary-color);
    outline-offset: 4px;
  }
}

.ozi-textarea{
  height: 84px;
  resize: none;;
}

.h6 {
  font-size: 18px;
  font-weight: 800;

  line-height: 24px;
}

.regular {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
}

.skill-tag {
  display: inline;

  height: 24px;

  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);

  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.btn {
  width: 100%;

  padding: 10px 20px;

  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background: var(--primary-light-color);

  color: var(--light-color);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  cursor: pointer;

  &:hover, &:focus-visible,&:active {
    background: var(--primary-color);
    outline: none  ;
  } 
}
.btn-icon{
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background: var(--primary-light-color);

  color: var(--dark-color);
  cursor: pointer;

  &:hover, &:focus-visible,&:active {
    background: var(--primary-color);
    outline: none  ;
  } 
}


