@import 'fonts';

:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color:#AE7AFF;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'JetBrains Mono', 'sans-serif';
    font-weight: 500;
    background: var(--dark-color);
    color: var(--light-color);
    background-image: url('/assets/images/background.jpg') ;
}

h1{
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    text-align: left;

}

.h6{
    font-size: 18px;
    font-weight: 800;
    
    line-height: 24px;
}

.subtitle{
    font-size: 14px;
    line-height: 20px;
}

.skill-tag{
    display: inline;

    height: 24px;

    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid var(--light-color);

    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
}

.btn{
    padding: 10px 20px;
    border: none;
    background: var(--primary-color);
    color: var(--dark-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}